* {
    padding: 0;
    margin: 0;
}

body {
    background: url('http://www.fgm.cc/learn/lesson9/img/bg.png');
    text-align: center;
}

button {
    margin: 10px;
}

#photos img {
    border-radius: 5px;
    opacity: 0.7
}

#photos img:hover {
    opacity: 1;
}

#photos img.selected {
    border: 2px solid rgba(255, 255, 0, 1);
    opacity: 1;
}

#puzzle {
    width: 410px;
    font-size: 0;
    margin: 0 auto;
    position: relative;

}

#puzzle li {
    list-style: none;
    display: inline-block;
    width: 82px;
    height: 190px;
}

#puzzle #mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 410px;
    height: 570px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
}