*{
    margin:0;
    padding:0;
}
#menuBox{
    width:200px;
    border:1px solid rgba(0,0,0,1);
}
#menuBox h2{
    height:20px;
    font-size:14px;
    color:rgba(87, 100, 110,1);
    line-height:20px;
    padding:5px;
    background:rgba(206, 211, 215,1) url(http://www.fgm.cc/learn/lesson2/img/ico.gif) 180px 15px no-repeat;
   
}
#menuBox h2.close{
    background-position: 180px -12px ;
}
#menuBox nav{
    display:block;
}
#menuBox nav a{
    display:block;
    padding:5px;
    background-color:rgba(222, 227, 230,1);
    border-top:1px solid rgba(255,255,255,1);
    font-size:12px;
}
#menuBox nav a:hover{
    background-color:rgba(255,255,255,1);
    text-decoration:underline;
}