*{
    margin:0;
    padding:0;
}
#lightStars{
    padding:20px;
}
#lightStars>span{
    font-size:14px;
}
#lightStars ul{
    list-style:none;
    display:inline-block;
    padding:10px;
}
#lightStars ul li{
    background:url("http://www.fgm.cc/learn/lesson4/img/star.png") no-repeat;
    display:inline-block;
    width:20px;
    height:20px;
    position:relative;
}

#lightStars ul li.lighting{
    background-position:0 -26px;
}
#lightStars p{
    background: url("http://www.fgm.cc/learn/lesson4/img/icon.gif") no-repeat;
    width:170px;
    height: 70px;
    position:absolute;
    left:70px;
    top:55px;
    display: none;
    font-size:12px;
    padding: 8px;
}
