body{
    background-color: rgba(0,0,0,1);
}
#imgContainer{
    width:490px;
    height:170px;
    position:relative;
    border: 10px solid rgba(255,255,255,1);
    border-radius: 5px;
}
#imgContainer img{
    position:absolute;
}
#imgContainer .firstShowImg{
    z-index:1;
}

#imgContainer ul{
    position:absolute;
    top:125px;
    left:300px;
    z-index: 2;
}
#imgContainer li{
    list-style:none;
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:20px;
    text-align:center;
    font-size:12px;
    line-height:20px;
    background-color:rgba(253,153,0,1);
}
#imgContainer li.currentList{
    background-color:rgba(255,200,0,1);
}
