*{
    padding:0;
    margin:0;
}
.calender{
    width:260px;
  background-color:rgba(234,234,234,1);
  border:1px solid rgba(224,224,224,1);  
}
.calender ul{
    list-style:none;
    padding:5px 0 0 5px;
}
.calender ul li{
    display:inline-block;
    margin:0 5px 5px 0;
    width:55px;
    height:60px;
    background-color:rgba(66,66,66,1);
    color:rgba(255,255,255,1);
    text-align:center;
    font-size:12px;
}
.calender ul li strong{
    display:block;
    padding:5px;
    font-size:20px;
}
.calender ul li:hover{
    background-color:rgba(255,255,255,1);
    color:rgba(200,0,120,1);
    box-shadow:0 0 0 1px rgba(66,66,66,1);
}
.calender .introduction{
    margin:5px;
    border:1px solid rgba(255,255,255,1);
    font-size:12px;
}
.calender .introduction h2,p{
    font-size:14px;
    padding:5px;
    color:rgba(122,122,122,1)
}
.calender .introduction h2{
    font-size:14px;
    }