#flyMan {
    background: url(http://www.fgm.cc/learn/lesson7/img/1.gif);
    position: absolute;
    width: 40px;
    height: 40px;
}

#flyMan.active {
    background: url(http://www.fgm.cc/learn/lesson7/img/2.gif);
    position: absolute;
    width: 65px;
    height: 45px;
}